{%extends 'layout.html' %}

{%block content %}
{% from "_macros.html" import render_field, render_errors %}

<div class="row">
    <div class="col-md-6">
        <h1 class="h3 mb-2 text-gray"><i class="fas fa-fw fa-bag-shopping"></i> Compras</h1>
    </div>
</div>
<div class="card shadow mb-4" id="spacesTable">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold">Datos de compra</h6>
    </div>
    <div class="card-body">
        <form name="formes" id="form" method="POST" novalidate action="/agregarCompra">
            <div class="row mb-3">
                    {{ render_field(form.id, class="form-control", placeholder="id") }}
                <div class="form-group col-md-3">
                    {{ form.nombre_proveedor.label(class="form-label") }}
                    {{ render_field(form.nombre_proveedor, class="form-control", id="nombre-proveedor", placeholder="Nombre") }}
                </div>
                <div class="form-group col-md-3">
                    <label for="proveedor_id">Selecciona un proveedor</label>
                    <input type="hidden" id="proveedor_id" name="proveedor_id" value="{{ form.proveedor_id.data }}">
                    <button type="button" class="btn btn-primary mt-0.5" data-toggle="modal" data-target="#proveedorModal">
                        Seleccionar proveedor
                    </button>
                    {{  render_errors(form.proveedor_id) }}
                </div>
                <div class="form-group col-md-3">
                    {{ form.nombre.label(class="form-label") }}
                    {{ render_field(form.nombre, class="form-control", id="nombre-materia", placeholder="Nombre Materia") }}
                </div>
                <div class="form-group col-md-3">
                    <label for="idtipo_materia">Selecciona la materia</label>
                    <input type="hidden" id="id_tipo_materia" name="id_tipo_materia" value="{{ form.id_tipo_materia.data }}">
                    <button type="button" class="btn btn-primary mt-0.5" data-toggle="modal" data-target="#materiaPrimaModal">
                        Seleccionar Materia
                    </button>
                    {{  render_errors(form.id_tipo_materia) }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group col-md-3">
                    {{ form.precio_compra.label(class="form-label") }}
                    {{ render_field(form.precio_compra, class="form-control", placeholder="Precio de Compra") }}
                </div>
                <div class="form-group col-md-3">
                    {{ form.cantidad.label(class="form-label") }}
                    {{ render_field(form.cantidad, class="form-control", placeholder="Cantidad") }}
                </div>
                <div class="form-group col-md-3">
                    {{ form.tipo.label(class="form-label") }}
                    {{ render_field(form.tipo, class="form-control", placeholder="Unidad de medida") }}
                </div>
                <div class="form-group col-md-3">
                    {{ form.lote.label(class="form-label") }}
                    {{ render_field(form.lote, class="form-control", placeholder="Lote de materia") }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group col-md-3"></div>
                <div class="form-group col-md-3">
                    {{ form.fecha.label(class="form-label") }}
                    {{ render_field(form.fecha, class="form-control", type="date", placeholder="Fecha de compra") }}
                </div>
                <div class="form-group col-md-3">
                    {{ form.fecha_caducidad.label(class="form-label") }}
                    {{ render_field(form.fecha_caducidad, class="form-control", type="date", placeholder="Fecha de Caducidad") }}
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-success mx-auto">Guardar</button>
            </div>
            <div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            </div>
        </form>
    </div>
</div>

<div class="card shadow mb-4" id="spacesTable">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold">Listado de compras</h6>
    </div>
    <div class="card-body">
        <div class="scrollable-table" style="overflow: auto; max-height: 400px;">
            <div class="row mb-3">
                <input type="text" id="searchInput" class="form-control mb-3" placeholder="Buscar...">
                <table id="proveedorTable" class="table table-striped">
                    <thead>
                        <tr class="text-center">
                            <th>Nombre</th>
                            <th>Proveedor</th>
                            <th>Precio</th>
                            <th>Fecha</th>
                            <th>Lote</th>
                            <th>Cantidad Compra</th>
                            <th>Cantidad Disponible</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for compra in compras %}
                        <tr class="text-center">
                            <td>{{ compra.tipo_materia.nombre }}</td>
                            <td>{{ compra.proveedor.nombre_vendedor }}</td>
                            <td>{{ compra.precio_compra }}</td>
                            <td>{{ compra.create_date }}</td>
                            <td>{{ compra['lote'] }}</td>
                            <td>{{ compra['cantidad_compra'] }}</td>
                            <td>{{ compra['cantidad_disponible'] }}</td>
                            <td>
                                <form action="{{url_for('compras.seleccionar_compra')}}" method="post" class="d-inline">
                                    <input type="hidden" name="id" value="{{compra.id}}" />
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <button type="submit" class="btn btn-warning btn-sm">Editar</button>
                                </form>
                                <button id="eliminarCompra" data-id="{{compra.id}}" class="btn btn-danger btn-sm mt-1" data-toggle="modal" data-target="#modalConfirmacion">Eliminar</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


    <div class="modal fade" id="proveedorModal" tabindex="-1" aria-labelledby="proveedorModal" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="materiaPrimaModalLabel">Seleccionar Proveedor</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Telefono</th>
                  <th>Nombre Vendedor</th>
                  <th>Seleccionar</th>
                </tr>
              </thead>
              <tbody>
                {% for proveedor in proveedores %}
                <tr>
                  <td>{{ proveedor.nombre }}</td>
                  <td>{{ proveedor.telefono }}</td>
                  <td>{{ proveedor.nombre_vendedor }}</td>
                  <td>
                    <button type="button" class="btn btn-success select-proveedor" data-proveedor-id="{{ proveedor.id }}" data-nombre="{{ proveedor.nombre_vendedor }}"
                            data-bs-dismiss="modal">
                      Seleccionar
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="materiaPrimaModal" tabindex="-1" aria-labelledby="materiaPrimaModalLabel" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="materiaPrimaModalLabel">Seleccionar Materia Prima</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Cantidad</th>
              <th>Tipo</th>
              <th>Seleccionar</th>
            </tr>
          </thead>
          <tbody>
            {% for materia in materias_primas %}
            <tr>
              <td>{{ materia.nombre }}</td>
              <td>{{ materia.cantidad_disponible }}</td>
              <td>{{ materia.tipo }}</td>
              <td>
                <button type="button" class="btn btn-success select-materia" data-id="{{ materia.id }}" data-nombre="{{ materia.nombre }}"
                        data-bs-dismiss="modal">
                  Seleccionar
                </button>
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



    <div class="modal fade" id="modalConfirmacion" tabindex="-1" aria-labelledby="modalConfirmacion" aria-hidden="true" role="dialog">
        <div class="container mt-5 modal-dialog" role="document">
      <div class="row modal-content" style="display: contents;">
           <div class="col-md-12 offset-md-3 mx-0">
             <div class="card">
               <div class="card-body">
                 <h1 class="card-title text-center">Confirmar Borrado de Compra</h1>
                 <p class="card-text text-center">Estás a punto de eliminar una Comprar</p>
                 <div class="text-center">
                     <form action="{{ url_for('compras.eliminar_compra')}}" method="post" class="d-inline">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <input type="hidden" name="id" id="idEliminar">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                     </form>
                     <button type="button" id="closeModalConfirmacion" class="closeModalConfirmacion btn btn-success">
                        Cancelar
                     </button>
                 </div>
               </div>
             </div>
           </div>
      </div>
  </div>
</div>

<script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
      const searchInput = document.getElementById('searchInput');
      const userTable = document.getElementById('proveedorTable');
      const rows = userTable.getElementsByTagName('tr');
  
      searchInput.addEventListener('input', function() {
        const searchText = this.value.toLowerCase();
        for (let i = 1; i < rows.length; i++) {
          const row = rows[i];
          const cells = row.getElementsByTagName('td');
          let found = false;
          for (let j = 0; j < cells.length; j++) {
            const cell = cells[j];
            if (cell.textContent.toLowerCase().indexOf(searchText) > -1) {
              found = true;
              break;
            }
          }
          if (found) {
            row.style.display = '';
          } else {
            row.style.display = 'none';
          }
        }
      });
    });

    $('.select-proveedor').click(function() {
        var proveedorId = $(this).data('proveedor-id');
        var nombre = $(this).data('nombre');

        $('#proveedor_id').val(proveedorId);
        $('#nombre-proveedor').val(nombre);

        $('#proveedorModal').modal('hide')
      });

    $('.select-materia').click(function() {
        var materiaId = $(this).data('id');
        var nombre = $(this).data('nombre');

        $('#id_tipo_materia').val(materiaId);
        $('#nombre-materia').val(nombre);
        $('#materiaPrimaModal').modal('hide')
      });

      $(document).on('click', '#eliminarProveedor', function() {
          var proveedorId = $(this).data('id');
          $('#idEliminar').val(proveedorId);
          $('#modalConfirmacion').modal('show');  // Muestra el modal
      });


    // Adjunta el evento al botón que abre el modal, no al botón de cierre del modal
    $(document).on('click', '#eliminarCompra', function() {
      var proveedorId = $(this).data('id');
      $('#idEliminar').val(proveedorId);
      $('#modalConfirmacion').modal('show');  // Muestra el modal
    });
    
    // Adjunta el evento al botón de cierre del modal
    $('#closeModalConfirmacion').click(function() {
        $('#modalConfirmacion').modal('hide');  // Oculta el modal
    });

  
  </script>

{% endblock %}
