
{%extends 'layout.html' %}
{%block content %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% from "_macros.html" import render_field %}

<div class="row">
    <div class="col-md-6 mb-4">
        <h2 class="h2 mb-2 text-gray"><strong>¡Bienvenido {{current_user.nombre}}!</strong></h2>
        {% if lastSession%}
            <h4 class="h4 mb-2 text-gray">Tu última sesión fue el {{lastSession}}</h4>
        {% else %}
            <h4 class="h4 mb-2 text-gray">¡Este es tu primer sesión!</h4>
        {% endif %}
    </div>
</div>
<div class="container-fluid">
    <!-- Primera fila con 2 gráficas -->
    <div class="row justify-content-center mb-4">
      <!-- Costo de Producción por Galleta -->
      <div class="col-lg-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Costo de Producción por Galleta</h6>
          </div>
          <div class="card-body">
            <canvas id="myChartCostoGalleta"></canvas>
            <h3 class="text-center mt-4" id="mejorGalleta">La galleta con mejor rendimiento económico es: {{ menor_costo }}</h3>
          </div>
        </div>
      </div>
  
      <!-- Galleta con mayor merma -->
      <div class="col-lg-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-success">Galleta con mayor merma</h6>
          </div>
          <div class="card-body">
            <canvas id="myChartMermaCantidad"></canvas>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Segunda fila con 3 gráficas -->
    <div class="row justify-content-center">
      <!-- Galleta con mayor porcentaje de merma -->
      <div class="col-lg-4 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-warning">Galleta con mayor porcentaje de merma</h6>
          </div>
          <div class="card-body">
            <canvas id="myChartMermaPorcentaje"></canvas>
          </div>
        </div>
      </div>
  
      <!-- Presentación más vendida -->
      <div class="col-lg-4 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-info">Presentación más vendida</h6>
          </div>
          <div class="card-body">
            <canvas id="myChartPresentaciones"></canvas>
          </div>
        </div>
      </div>
  
      <!-- Galleta más vendida -->
      <div class="col-lg-4 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-danger">Galleta más vendida</h6>
          </div>
          <div class="card-body">
            <canvas id="myChartGalletasVendidas"></canvas>
          </div>
        </div>
      </div>


      <!-- Ventas y Salidas diarias -->
      <div class="col-lg-12 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-danger">Ventas y Salidas Diarias</h6>
          </div>
          <div class="card-body">
            <canvas id="myChartVentasSalidasDiarias"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  
        <!-- Añade este estilo dentro de tu etiqueta <head> o en tu archivo CSS -->
<style>
    .scrollable-table {
        max-height: 400px; /* Ajusta este valor según necesites */
        overflow-y: auto;
        display: block;
    }
</style>

<div class="card justify-content-center mb-4" id="spacesTable">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold">Proveedores por lotes</h6>
    </div>
    <div class="card-body">
        <!-- Contenedor scrollable para la tabla -->
        <div class="scrollable-table">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark"> <!-- Mejora visual en el encabezado de la tabla -->
                    <tr>
                        <th>ID de Producción</th>
                        <th>Lote</th>
                        <th>Proveedor</th>
                        <th>Ingrediente</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Suponiendo que tienes una estructura de control para llenar la tabla -->
                    {% for lote in proveedores_por_lote %}
                        {% for proveedor, ingrediente in lote.proveedores %}
                            <tr>
                                {% if loop.first %}
                                    <td rowspan="{{ loop.length }}">{{ lote.id_produccion }}</td>
                                    <td rowspan="{{ loop.length }}">{{ lote.lote }}</td>
                                {% endif %}
                                <td>{{ proveedor }}</td>
                                <td>{{ ingrediente }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



        <script>
            // Producción Anual
            /*var ctxYear = document.getElementById('myChart').getContext('2d');
            var myChartYear = new Chart(ctxYear, {
                type: 'line',
                data: {
                    labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    datasets: [{
                        label: 'Producción Anual de Galletas',
                        data: [120, 190, 300, 500, 200, 300, 450, 480, 320, 560, 590, 300], // Datos de ejemplo
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 2,
                        fill: false,
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });*/

             // Costo de Producción por Galleta
            var costos_galletas = JSON.parse('{{ costos_galletas|tojson|safe }}');
            var nombres_galletas = costos_galletas.map(function(galleta) {
                return galleta[1];
            });
            var precios_galletas = costos_galletas.map(function(galleta) {
                return galleta[2];
            });

            var ctxCostoGalleta = document.getElementById('myChartCostoGalleta').getContext('2d');
            var myChartCostoGalleta = new Chart(ctxCostoGalleta, {
                type: 'bar',
                data: {
                    labels: nombres_galletas,
                    datasets: [{
                        label: 'Costo de Producción por Receta',
                        data: precios_galletas,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Costo de producción($)'
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Galletas'
                            }
                        }
                    },
                    plugins: {
                        responsive: true,
                        maintainAspectRatio: false,
                        legend: {
                            display: false
                        },
                    }
                }
            });

            var mermaCantidad = JSON.parse('{{ merma_mayor|tojson|safe }}');
            nombres_galletas = mermaCantidad.map(function(galleta) {
                return galleta[0];
            });
            var cantidades_merma = mermaCantidad.map(function(galleta) {
                return galleta[1];
            });

            var ctxMermaCantidad = document.getElementById('myChartMermaCantidad').getContext('2d');
            var myChartMemraCantidad = new Chart(ctxMermaCantidad, {
                type: 'doughnut',
                data: {
                    labels: nombres_galletas,
                    datasets: [{
                        label: 'Cantidad de galletas en merma',
                        data: cantidades_merma,
                         backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                        ],
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            display: true
                        },
                    }
                }
            });


            var mermaPorcentaje = JSON.parse('{{ merma_porcentaje|tojson|safe }}');
            nombres_galletas = mermaPorcentaje.map(function(galleta) {
                return galleta[0];
            });
            cantidades_merma = mermaPorcentaje.map(function(galleta) {
                return galleta[1];
            });

            var ctxMermaPorcentaje = document.getElementById('myChartMermaPorcentaje').getContext('2d');
            var myChartMermaPorcentaje = new Chart(ctxMermaPorcentaje, {
                type: 'doughnut',
                data: {
                    labels: nombres_galletas,
                    datasets: [{
                        label: 'Porcentaje de galletas en merma',
                        data: cantidades_merma,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                        ],
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            display: true
                        },
                    }
                }
            });

            var precentaciones = JSON.parse('{{ datos_presentaciones|tojson|safe }}');
            var nombres_presentaciones = precentaciones.map(function(precentacion) {
                return precentacion[0];
            });
            var cantidad_presentaciones = precentaciones.map(function(precentacion) {
                return precentacion[1];
            });

            var ctxPrecentaciones = document.getElementById('myChartPresentaciones').getContext('2d');
            var myChartPrecentaciones = new Chart(ctxPrecentaciones, {
                type: 'doughnut',
                data: {
                    labels: nombres_presentaciones,
                    datasets: [{
                        label: 'Número de presentaciones vendidas',
                        data: cantidad_presentaciones,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                        ],
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            display: true
                        },
                    }
                }
            });

            var galletas_vendidas = JSON.parse('{{ galletas_vendias|tojson|safe }}');
            var nombres_galletas = Object.values(galletas_vendidas).map(function(galleta) {
                return galleta.nombre;
            });
            
            var cantidades_galletas = Object.values(galletas_vendidas).map(function(galleta) {
                return galleta.cantidad;
            });
            
            var ctx = document.getElementById('myChartGalletasVendidas').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: nombres_galletas,
                    datasets: [{
                        label: 'Cantidad de galletas vendidas',
                        data: cantidades_galletas,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

            var colors = ['rgba(75, 192, 192, 0.2)', 'rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)'];

            var data = {
            labels: ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo'],
            datasets: [{
                    label: 'Salidas Totales',
                    data: [{{ ventas_salidas['Monday']['salidas_totales'] }}, {{ ventas_salidas['Tuesday']['salidas_totales'] }}, {{ ventas_salidas['Wednesday']['salidas_totales'] }}, {{ ventas_salidas['Thursday']['salidas_totales'] }}, {{ ventas_salidas['Friday']['salidas_totales'] }}, {{ ventas_salidas['Saturday']['salidas_totales'] }}, {{ ventas_salidas['Sunday']['salidas_totales'] }}],
                    backgroundColor: colors[1],
                    borderColor: colors[1],
                    borderWidth: 1
                }, {
                    label: 'Venta Final',
                    data: [{{ ventas_salidas['Monday']['venta_total'] }}, {{ ventas_salidas['Tuesday']['venta_total'] }}, {{ ventas_salidas['Wednesday']['venta_total'] }}, {{ ventas_salidas['Thursday']['venta_total'] }}, {{ ventas_salidas['Friday']['venta_total'] }}, {{ ventas_salidas['Saturday']['venta_total'] }}, {{ ventas_salidas['Sunday']['venta_total'] }}],
                    backgroundColor: colors[3],
                    borderColor: colors[3],
                    borderWidth: 1
                }]
            };

              var options = {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              };
          
              var ctx = document.getElementById('myChartVentasSalidasDiarias').getContext('2d');
              var myChart = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: options
              });

        </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}