/* stylesPaginaPrincipal.css */

/* Define tus variables de color */
:root {
    --azulado-1: #1C6C8C;
    --azulado-2: #3F9BBF;
    --azulado-3: #3FA8BF;
    --verde: #032626;
    --gris: #F2F2F2;
}

/* Barra lateral */
.bg-azulado-1 {
    background-color: var(--azulado-1);
}

/* Barra superior */
.bg-gradient-azulado {
    background-color: var(--azulado-2);
    background-image: linear-gradient(to right, var(--azulado-2), var(--azulado-3));
}

/* Contenido principal */
.bg-gris {
    background-color: var(--gris);
}

.sidebar-brand-icon {
    position: relative;
    overflow: hidden;
}

.sidebar-brand-icon img {
    transition: filter 0.3s ease;
}

.sidebar-brand-icon:hover img {
    filter: brightness(70%);
}

/* Estilo base para el texto dentro de los <li> */
.nav-item a {
    transition: font-size 0.3s ease;
}

/* Cambio de tamaño al pasar el cursor sobre cualquier <li> */
.nav-item:hover a {
    font-size: 1.5em; /* Cambia el tamaño del texto al 110% del tamaño original */
}
