{%extends 'layout.html' %}

{%block content %}
{% from "_macros.html" import render_field %}


<style>
  #modalProcesar, #modalCancelarSolicitud, #modalPostergarSolicitud,
  #modalTerminarProduccion, #modalCancelarProduccion, 
  #modalProcesarProduccionPostergada, #modalCancelarProduccionPostergada, #modalAgregarMerma{
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: zoom-out;
  }

  .button-container {
    text-align: center;
    margin-top: 20px;
  }
</style>

<div id="modalProcesar" class="modal">
  <div class="modal-content">
    <span class="closeProcesar">&times;</span>
    <h3 class="text-center">¿Estás seguro de que deseas procesar la solicitud?</h3>
    <p class="text-center">Se procesara la solicitud.</p>
    <div class="button-container">
      <button id="confirmarBtnProcesar" class="btn btn-success">Confirmar</button>
      <button id="cancelarBtnProcesar" class="btn btn-danger">Cancelar</button>
    </div>
  </div>
</div>

<div id="modalCancelarSolicitud" class="modal">
  <div class="modal-content">
    <span class="closeCancelarSolicitud">&times;</span>
    <h3 class="text-center">¿Estás seguro de que deseas cancelar la solicitud?</h3>
    <p class="text-center">Se cancelará la solicitud.</p>
    <div class="button-container">
      <button id="confirmarBtnCancelarSolicitud" class="btn btn-success">Confirmar</button>
      <button id="cancelarBtnCancelarSolicitud" class="btn btn-danger">Cancelar</button>
    </div>
  </div>
</div>

<div id="modalPostergarSolicitud" class="modal">
  <div class="modal-content">
    <span class="closePostergarSolicitud">&times;</span>
    <h3 class="text-center">¿Estás seguro de que deseas postergar la solicitud?</h3>
    <p class="text-center">Se postergará la solicitud.</p>
    <div class="button-container">
      <button id="confirmarBtnPostergarSolicitud" class="btn btn-success">Confirmar</button>
      <button id="cancelarBtnPostergarSolicitud" class="btn btn-danger">Cancelar</button>
    </div>
  </div>
</div>

<div id="modalTerminarProduccion" class="modal">
  <div class="modal-content">
    <span class="closeTerminarProduccion">&times;</span>
    <h3 class="text-center">¿Estás seguro de que deseas terminar la producción?</h3>
    <p class="text-center">Se terminará la producción.</p>
    <div class="button-container">
      <button id="confirmarBtnTerminarProduccion" class="btn btn-success">Confirmar</button>
      <button id="cancelarBtnTerminarProduccion" class="btn btn-danger">Cancelar</button>
    </div>
  </div>
</div>

<div id="modalCancelarProduccion" class="modal">
  <div class="modal-content">
    <span class="closeCancelarProduccion">&times;</span>
    <h3 class="text-center">¿Estás seguro de que deseas cancelar la producción?</h3>
    <p class="text-center">Se cancelará la producción y se devolverán las materias primas a sus respectivos inventarios.</p>
    <div class="button-container">
      <button id="confirmarBtnCancelarProduccion" class="btn btn-success">Confirmar</button>
      <button id="cancelarBtnCancelarProduccion" class="btn btn-danger">Cancelar</button>
    </div>
  </div>
</div>

<div id="modalProcesarProduccionPostergada" class="modal">
  <div class="modal-content">
    <span class="closeProcesarPostergada">&times;</span>
    <h3 class="text-center">¿Estás seguro de que deseas procesar la produccion?</h3>
    <p class="text-center">Se procesará la producción.</p>
    <div class="button-container">
      <button id="confirmarBtnProducirPostergada" class="btn btn-success">Confirmar</button>
      <button id="cancelarBtnProducirPostergada" class="btn btn-danger">Cancelar</button>
    </div>
  </div>
</div>

<div id="modalAgregarMerma" class="modal">
  <div class="modal-content">
    <span class="closeAgregarMerma">&times;</span>
    <h3 class="text-center">¿Estás seguro de que deseas agregar a merma los ingredientes de la producción?</h3>
    <p class="text-center">Se agregarán a merma los ingredientes de la producción.</p>
    <div class="button-container">
      <button id="confirmarBtnAgregarMerma" class="btn btn-success">Confirmar</button>
      <button id="cancelarBtnAgregarMerma" class="btn btn-danger">Cancelar</button>
    </div>
  </div>
</div>

<div id="modalCancelarProduccionPostergada" class="modal">
  <div class="modal-content">
    <span class="closeCancelarPostergada">&times;</span>
    <h3 class="text-center">¿Estás seguro de que deseas cancelar la producción?</h3>
    <p class="text-center">Se cancelará la producción.</p>
    <div class="button-container">
      <button id="confirmarBtnCancelarPostergada" class="btn btn-success">Confirmar</button>
      <button id="cancelarBtnCancelarPostergada" class="btn btn-danger">Cancelar</button>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-6 my-3">
        <h1 class="h3 mb-2 text-gray"><i class="fas fa-cog"></i> Producción</h1>
    </div>
</div>

<div class="card shadow mb-4" id="spacesTable">
    <div class="card-body">
        <div class="row mt-4">
            <div class="col-md-12">
                <h2 class="h5 mb-2 text-gray"><i class="fas fa-table"></i> Solicitudes de Producción</h2>
                <input type="text" id="searchInput1" class="form-control mb-3" placeholder="Buscar...">
                <table class="table table-striped table-bordered table-hover" id="solicitudesTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Receta</th>
                            <th>Fecha de Solicitud</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for solicitud in solicitudes %}
                        <tr>
                            <td>{{ solicitud.id }}</td>
                            <td>{{ solicitud.receta.nombre }}</td>
                            <td>{{ solicitud.fecha_solicitud }}</td>
                            <td>
                                <form id="formProcesar{{solicitud.id}}" action="{{url_for('produccion_blueprint.solicitar_produccion')}}" method="post" class="d-inline">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <input type="hidden" name="solicitud_id" value="{{solicitud.id}}">
                                    <input type="hidden" name="receta_id" value="{{solicitud.receta_id}}">
                                    <button id="procesarBtn{{solicitud.id}}" type="button" class="btn btn-success" onclick="gestionarProcesar({{solicitud.id}})" >Procesar</button>
                                </form>
                                <form id="formCancelarSolicitud{{solicitud.id}}"  action="{{url_for('produccion_blueprint.cancelar_solicitud')}}" method="post" class="d-inline">
                                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                  <input type="hidden" name="receta_id" value="{{solicitud.receta_id}}">
                                  <input type="hidden" name="solicitud_id" value="{{solicitud.id}}">
                                  <button id="cancelarSolicitudBtn{{solicitud.id}}" type="button" class="btn btn-danger" onclick="gestionarCancelarSolicitud({{solicitud.id}})">Cancelar</button>
                              </form>                                                           
                                <form id="formPostergarSolicitud{{solicitud.id}}" action="{{url_for('produccion_blueprint.postergar_produccion')}}" method="post" class="d-inline">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <input type="hidden" name="solicitud_id" value="{{solicitud.id}}">
                                    <button id="postergarSolicitudBtn{{solicitud.id}}" type="button" class="btn btn-warning" onclick="gestionarPostergarSolicitud({{solicitud.id}})">Postergar</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="card shadow mb-4" id="spacesTable">
    <div class="card-body">
        <div class="row mt-4">
            <div class="col-md-12">
                <h2 class="h5 mb-2 text-gray"><i class="fas fa-table"></i> Solicitudes En Proceso</h2>
                <input type="text" id="searchInput2" class="form-control mb-3" placeholder="Buscar...">
                <table class="table table-striped table-bordered table-hover" id="procesoTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Receta</th>
                            <th>Fecha de Solicitud</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for solicitud in solicitudes_en_proceso %}
                        <tr>
                            <td>{{ solicitud.id }}</td>
                            <td>{{ solicitud.receta.nombre }}</td>
                            <td>{{ solicitud.fecha_solicitud }}</td>
                            <td>
                                <form id="formTerminarProduccion{{solicitud.id}}" action="{{url_for('produccion_blueprint.terminar_produccion')}}" method="post" class="d-inline">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <input type="hidden" name="solicitud_id" value="{{solicitud.id}}">
                                    <input type="hidden" name="receta_id" value="{{solicitud.receta_id}}">
                                    <button id="terminarProduccionBtn{{solicitud.id}}" type="button" class="btn btn-success" onclick="gestionarTerminarProduccion({{solicitud.id}})" >Terminar</button>
                                </form>
                                <form id="formCancelarProduccion{{solicitud.id}}" action="{{url_for('produccion_blueprint.cancelar_produccion')}}" method="post" class="d-inline">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <input type="hidden" name="receta_id" value="{{solicitud.receta_id}}">
                                    <input type="hidden" name="solicitud_id" value="{{solicitud.id}}">
                                    <button id="cancelarProduccionBtn{{solicitud.id}}" type="button" class="btn btn-danger" onclick="gestionarCancelarProduccion({{solicitud.id}})">Cancelar</button>
                                </form>
                                <form id="formMandarAMerma{{solicitud.id}}" action="{{url_for('produccion_blueprint.agregar_merma')}}" method="post" class="d-inline">
                                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                  <input type="hidden" name="receta_id" value="{{solicitud.receta_id}}">
                                  <input type="hidden" name="solicitud_id" value="{{solicitud.id}}">
                                  <button id="mandarAMermaBtn{{solicitud.id}}" type="button" class="btn btn-warning" onclick="gestionarAgregarMerma({{solicitud.id}})">Mandar a merma</button>
                              </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="card shadow mb-4" id="spacesTable">
    <div class="card-body">
        <div class="row mt-4">
            <div class="col-md-12">
                <h2 class="h5 mb-2 text-gray"><i class="fas fa-table"></i> Solicitudes Postergadas</h2>
                <input type="text" id="searchInput3" class="form-control mb-3" placeholder="Buscar...">
                <table class="table table-striped table-bordered table-hover" id="postergadasTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Receta</th>
                            <th>Fecha de Solicitud</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for solicitud in solicitudes_postergadas %}
                        <tr>
                            <td>{{ solicitud.id }}</td>
                            <td>{{ solicitud.receta.nombre }}</td>
                            <td>{{ solicitud.fecha_solicitud }}</td>
                            <td>
                                <form id="formProdPostergar{{solicitud.id}}" action="{{url_for('produccion_blueprint.solicitar_produccion')}}" method="post" class="d-inline">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <input type="hidden" name="solicitud_id" value="{{solicitud.id}}">
                                    <input type="hidden" name="receta_id" value="{{solicitud.receta_id}}">
                                    <button id="prodPostergarBtn{{solicitud.id}}" type="button" class="btn btn-success" onclick="gestionarProduccionPostergada({{solicitud.id}})">Procesar</button>
                                </form>
                                <form id="formCancelarPostergar{{solicitud.id}}" action="{{url_for('produccion_blueprint.cancelar_solicitud')}}" method="post" class="d-inline">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <input type="hidden" name="receta_id" value="{{solicitud.receta_id}}">
                                    <input type="hidden" name="solicitud_id" value="{{solicitud.id}}">
                                    <button id="cancelarPostergarBtn{{solicitud.id}}" type="button" class="btn btn-danger" onclick="gestionarCancelarProduccionPostergada({{solicitud.id}})" >Cancelar</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="card shadow mb-4" id="spacesTable">
    <div class="card-body">
        <div class="row mt-4">
            <div class="col-md-12">
                <h2 class="h5 mb-2 text-gray"><i class="fas fa-table"></i> Solicitudes Canceladas</h2>
                <input type="text" id="searchInput4" class="form-control mb-3" placeholder="Buscar...">
                <table class="table table-striped table-bordered table-hover" id="canceladasTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Receta</th>
                            <th>Fecha de Solicitud</th>
                            <th>Fecha de Cancelación</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for solicitud in solicitudes_canceladas %}
                        <tr>
                            <td>{{ solicitud.id }}</td>
                            <td>{{ solicitud.receta.nombre }}</td>
                            <td>{{ solicitud.fecha_solicitud }}</td>
                            <td>{{ solicitud.fecha_cancelado }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/controllerProduccion.js') }}"></script>


{% endblock %}