{%extends 'layout.html' %}

{%block content %}
{% from "_macros.html" import render_field, render_errors %}

<div class="row">
    <div class="col-md-6">
        <h1 class="h3 mb-2 text-gray"><i class="fas fa-kitchen-set"></i> Materia prima</h1>
    </div>
</div>
<div class="card shadow mb-4" id="spacesTable">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold">Datos de materia prima</h6>
    </div>
    <div class="card-body">
        <form name="formes" id="form" method="POST" novalidate action="/agregarMateriaPrima">
            <div class="row mb-3">
                    {{ render_field(form.id, class="form-control", placeholder="id") }}
                <div class="form-group col-md-6">
                    {{ form.nombre.label(class="form-label") }}
                    {{ render_field(form.nombre, class="form-control", placeholder="Nombre") }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.tipo.label(class="form-label") }}
                    {{ render_field(form.tipo, class="form-control", type="date", placeholder="Tipo de medida") }}
                </div>
            </div>
            <div class="col-md-12 text-center">
                {% if form.id.data == 0 %}
                    <button type="submit" class="btn btn-success">Guardar</button>
                {% endif %}
                {% if form.id.data != 0 %}
                    <button type="submit" class="btn btn-warning">Modificar</button>
                {% endif %}
            </div>
            <div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            </div>
        </form>
    </div>
</div>

<div class="card shadow mb-4" id="spacesTable">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold">Listado de materia prima</h6>
    </div>
    <div class="card-body">
        <div class="scrollable-table" style="overflow: auto; max-height: 400px;">
            <div class="row mb-3">
                <input type="text" id="searchInput" class="form-control mb-3" placeholder="Buscar...">
                <table id="materiaTable" class="table table-striped">
                    <thead>
                        <tr class="text-center">
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Tipo</th>
                            <th>Seleccionar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for materia in materias_primas %}
                        <tr class="text-center">
                            <td>{{ materia['nombre'] }}</td>
                            <td>{{ materia['cantidad_disponible'] }}</td>
                            <td>{{ materia['tipo'] }}</td>
                            <td>
                                <form action="{{url_for('materiaPrima.seleccionar_materia')}}" method="post" class="d-inline">
                                    <input type="hidden" name="id" value="{{materia.id}}" />
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <button type="submit" class="btn btn-warning">Editar</button>
                                </form>
                                <button id="eliminar_materia" data-id="{{materia.id}}" class="btn btn-danger" data-toggle="modal" data-target="#modalConfirmacion">Eliminar</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade"  id="modalConfirmacion" tabindex="-1" aria-labelledby="modalConfirmacion" aria-hidden="true" role="dialog">
  <div class="container mt-5 modal-dialog" role="document">
      <div class="row modal-content" style="display: contents;">
           <div class="col-md-12 offset-md-3 mx-0">
             <div class="card">
               <div class="card-body">
                 <h1 class="card-title text-center">Confirmar Borrado de la Materia Prima</h1>
                 <p class="card-text text-center">Estás a punto de eliminar la materia</p>
                 <div class="text-center">
                     <form action="{{ url_for('materiaPrima.eliminar_materia')}}" method="post" class="d-inline">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <input type="hidden" name="id" id="idEliminar">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                     </form>
                     <button type="button" id="closeModalConfirmacion" class="closeModalConfirmacion btn btn-success">
                        Cancelar
                     </button>
                 </div>
               </div>
             </div>
           </div>
      </div>
  </div>
</div>

<script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
      const searchInput = document.getElementById('searchInput');
      const userTable = document.getElementById('materiaTable');
      const rows = userTable.getElementsByTagName('tr');
  
      searchInput.addEventListener('input', function() {
        const searchText = this.value.toLowerCase();
        for (let i = 1; i < rows.length; i++) {
          const row = rows[i];
          const cells = row.getElementsByTagName('td');
          let found = false;
          for (let j = 0; j < cells.length; j++) {
            const cell = cells[j];
            if (cell.textContent.toLowerCase().indexOf(searchText) > -1) {
              found = true;
              break;
            }
          }
          if (found) {
            row.style.display = '';
          } else {
            row.style.display = 'none';
          }
        }
      });
    });

    $(document).on('click', '#eliminar_materia', function() {
      var materia_id = $(this).data('id');
      $('#idEliminar').val(materia_id);
      $('#modalConfirmacion').modal('show');
    });

    $(document).on('click', '#closeModalConfirmacion', function() {
        $('#modalConfirmacion').modal('hide');
    });

  
  </script>

{% endblock %}