{% extends 'layout.html' %}
{% block content %}
{% from "_macros.html" import render_field %}

<div class="row">
    <div class="col-md-6">
        <h1 class="h3 mb-2 text-gray"><i class="fas fa-fw fa-users"></i> Usuarios</h1>
    </div>
</div>
<div class="card shadow mb-4" id="spacesTable">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold">Datos de usuario</h6>
    </div>
    <div class="card-body">
        <form name="formUsuarios" id="formUsuarios" method="POST" novalidate action="/agregarUsuario">
        <div class="row mb-3">
            {{ render_field(form.id, class="form-control", placeholder="id") }}
            <div class="form-group col-md-4">
                {{ form.nombre.label(class="form-label") }}
                {{ render_field(form.nombre, class="form-control", placeholder="Nombre") }}
            </div>
            <div class="form-group col-md-4">
                {{ form.puesto.label(class="form-label") }}
                {{ render_field(form.puesto, class="form-control", placeholder="Puesto") }}
            </div>
            <div class="form-group col-md-4">
                {{ form.rol.label(class="form-label") }}
                {{ render_field(form.rol, class="form-control", placeholder="Rol") }}
            </div>
        </div>
        <div class="row mb-2 justify-content-center">
            <div class="form-group col-md-4">
                {{ form.usuario.label(class="form-label") }}
                {{ render_field(form.usuario, class="form-control", placeholder="Usuario") }}
            </div>
            <div class="form-group col-md-4">
                {{ form.contrasena.label(class="form-label") }}
                {{ render_field(form.contrasena, class="form-control", placeholder="Contraseña") }}
            </div>
            <div class="form-group col-md-4">
                <label for="confirmar_contrasena">Confirmar contraseña</label>
                {{ render_field(form.confirmar_contrasena, class="form-control", placeholder="Confirmar Contraseña", id="confirmar_contrasena") }}
            </div>
        </div>
        <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-success mx-auto">Guardar</button>
        </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        </form>
    </div>
</div>

<div class="card shadow mb-4" id="spacesTable">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold">Listado de usuarios</h6>
    </div>
    <div class="card-body">
        <div class="scrollable-table" style="overflow: auto; max-height: 400px;">
            <div class="row mb-3">
                <input type="text" id="searchInput" class="form-control mb-3" placeholder="Buscar...">
                <table id="userTable" class="table table-striped">
                    <thead>
                    <tr class="text-center">
                        <th>Nombre</th>
                        <th>Puesto</th>
                        <th>Rol</th>
                        <!-- <th>Estatus</th> -->
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr class="text-center">
                        <td>{{ user['nombre'] }}</td>
                        <td>{{ user['puesto'] }}</td>
                        <td>{{ user['rol'] }}</td>
                        <!-- <td>{{ user['estatus'] }}</td> -->
                        <td>
                        
                        {% if user.rol != 'admin' %}
                            <form action="{{ url_for('usuarios.seleccionar_usuario') }}" method="post" class="d-inline">
                                <input type="hidden" name="id" value="{{user.id}}" />
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <button type="submit" class="btn btn-warning">Editar</button>
                            </form>
                            <button id="eliminarUsuario" data-id="{{user.id}}" class="btn btn-danger" data-toggle="modal" data-target="#modalConfirmacion">Eliminar</button>
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade"  id="modalConfirmacion" tabindex="-1" aria-labelledby="modalConfirmacion" aria-hidden="true" role="dialog">
    <div class="container mt-5 modal-dialog" role="document">
        <div class="row modal-content" style="display: contents;">
            <div class="col-md-12 offset-md-3 mx-0">
                <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center">Confirmar Borrado del Usuario</h1>
                    <p class="card-text text-center">Estás a punto de eliminar el usuario</p>
                    <div class="text-center">
                        <form action="{{ url_for('usuarios.eliminar_usuarios')}}" method="post" class="d-inline">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <input type="hidden" name="id" id="idEliminar">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                        <button type="button" id="closeModalConfirmacion" class="closeModalConfirmacion btn btn-success">
                            Cancelar
                        </button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const searchInput = document.getElementById('searchInput');
        const userTable = document.getElementById('userTable');
        const rows = userTable.getElementsByTagName('tr');

        searchInput.addEventListener('input', function() {
            const searchText = this.value.toLowerCase();
            for (let i = 1; i < rows.length; i++) {
            const row = rows[i];
            const cells = row.getElementsByTagName('td');
            let found = false;
            for (let j = 0; j < cells.length; j++) {
                const cell = cells[j];
                if (cell.textContent.toLowerCase().indexOf(searchText) > -1) {
                found = true;
                break;
                }
            }
            if (found) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
            }
        });
    });

    // Adjunta el evento al botón que abre el modal, no al botón de cierre del modal
    $(document).on('click', '#eliminarUsuario', function() {
        var materia_id = $(this).data('id');
        $('#idEliminar').val(materia_id);
        $('#modalConfirmacion').modal('show');
    });

    $(document).on('click', '#closeModalConfirmacion', function() {
        $('#modalConfirmacion').modal('hide');
    });
</script>

{% endblock %}
