{% extends 'layout.html' %}

{% block content %}
{% from "_macros.html" import render_field %}

<div class="row">
    <div class="col-md-4">
        <h1 class="h3 mb-2 text-gray"><i class="fas fa-solid fa-cart-plus"></i> Ventas</h1>
    </div>
    <div class="col-md-8 my-3 d-flex justify-content-end">
        <div class="col-md-3">
            <h3 class="h3 mb-2 text-gray">Fondos en Caja: ${{fondo_caja}}</h3>
        </div>
        <div class="col-md-3">
            <a href="{{ url_for('stock.modulo_stock') }}" class="btn btn-success mb-3" style="width: 100%;">
                <i class="fas fa-box"></i> Ver Stock de Galletas
            </a>
        </div>
        <div class="col-md-3">
            <button type="button" id="btnCorte" class="btn btn-danger mb-3" 
            data-toggle="modal" data-target="#modalSalida" style="width: 100%;">
                <i class="fas fa-arrow-up"></i> Registrar Salida
            </button>
        </div>
        <div class="col-md-3">
            <button type="button" id="btnCorte" class="btn btn-warning mb-3" 
            data-toggle="modal" data-target="#modalCorte" style="width: 100%;">
                <i class="fas fa-calendar"></i> Generar Corte
            </button>
        </div>
        <div class="col-md-3">
            <button type="button" id="btnInteraccion" class="btn btn-primary mb-3" style="width: 100%;"
                onclick="window.location.href='/nuevaVenta'">
                <i class="fas fa-plus"></i> Nueva Venta
            </button>
        </div>
    </div>
</div>
<!-- Page Heading -->

<!-- Table Ventas -->
<div class="card shadow mb-4" id="spacesTable">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold">Ventas</h6>
    </div>
    <div class="card-body">
        <div class="scrollable-table" style="overflow: auto; max-height: 400px;">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Folio</th>
                        <th>Cliente</th>
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venta in ventas %}
                    <tr>
                        <td>{{venta.folio}}</td>
                        <td>{{venta.nombre_cliente}}</td>
                        <td>{{venta.fecha.strftime('%Y-%m-%d')}}</td>
                        <td>{{venta.total}}</td>
                        <td><button id="generarTicket" data-id="{{venta.folio}}" class="btn btn-warning"
                                data-toggle="modal" data-target="#modalConfirmacion"><i class="fas fa-print"></i>
                                Generar Ticket</button></td>
                    </tr>
                    {%endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Table Ventas -->
<div class="card shadow mb-4" id="spacesTable">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold">Salidas de Efectivo</h6>
    </div>
    <div class="card-body">
        <div class="scrollable-table" style="overflow: auto; max-height: 400px;">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Cantidad</th>
                        <th>Justificación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for salida in salidas %}
                    <tr>
                        <td>{{salida.fecha.strftime('%Y-%m-%d')}}</td>
                        <td>{{salida.cantidad}}</td>
                        <td>{{salida.justificacion}}</td>
                    </tr>
                    {%endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirmacion" tabindex="-1" aria-labelledby="modalConfirmacion" aria-hidden="true"
    role="dialog">
    <div class="container mt-5 modal-dialog" role="document">
        <div class="row modal-content" style="display: contents;">
            <div class="col-md-12 offset-md-3 mx-0">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center">Generar Ticket de Compra</h1>
                        <p class="card-text text-center">¿Estás seguro de realizar generar el ticket de esta venta?</p>
                        <div class="text-center">
                            <button type="button" id="closeModalConfirmacion"
                                class="closeModalConfirmacion btn btn-danger">Cancelar</button>
                            <a type="button" id="closeModalConfirmacion" class="closeModalConfirmacion btn btn-success">
                                Generar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCorte" tabindex="-1" aria-labelledby="modalCorte" aria-hidden="true"
    role="dialog">
    <div class="container mt-5 modal-dialog" role="document">
        <div class="row modal-content" style="display: contents;">
            <div class="col-md-12 offset-md-3 mx-0">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center">Corte de Turno</h1>
                        <p class="card-text text-center">¿Estás seguro de realizar el corte del turno actual?</p>
                        <form action="/cerrarTurno" method="POST" >
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            {{ render_field(form_cerrar.idTurno) }}
                            <div class="text-center">
                                <button type="button" id="closeModalCorte"
                                    class="closeModalCorte btn btn-danger">Cancelar</button>
                                <button type="submit" class="btn btn-success">
                                    Hacer Corte
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSalida" tabindex="-1" aria-labelledby="modalSalida" aria-hidden="true"
    role="dialog">
    <div class="container mt-5 modal-dialog" role="document">
        <div class="row modal-content" style="display: contents;">
            <div class="col-md-12 offset-md-3 mx-0">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center">Registrar Salida de Efectivo</h1>
                        <p class="card-text text-center">Ingresa los detalles de la salida de efectivo</p>
                        <form action="/registrarSalidas" method="POST">
                            <div class="form-group">
                                <label for="cantidad">Cantidad</label>
                                {{ render_field(form_salida.cantidad, class="form-control") }}
                            </div>
                            <div class="form-group">
                                <label for="justificacion">Justificación</label>
                                {{ render_field(form_salida.justificacion, class="form-control") }}
                            </div>
                            <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">
                            <div class="text-center">
                                <button type="button" id="closeModalSalida"
                                    class="closeModalSalida btn btn-danger">Cancelar</button>
                                <button type="submit" id="registrarSalida" class=" btn btn-success">
                                    Registrar Salida
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const urlParams = new URLSearchParams(window.location.search);
        const turno_id = urlParams.get('turno_id');
        document.getElementById('idTurno').value = turno_id;
        console.log(turno_id);
    });
        
    $(document).ready(function () {
        // Escucha el evento click en los botones que tienen el id 'generarTicket'
        $(document).on('click', '[id^="generarTicket"]', function () {
            var folio = $(this).attr('data-id'); // Obtiene el folio del botón clickeado
            var href = "generarTicket?folio=" + folio; // Crea el enlace
            $('#modalConfirmacion').find('a.btn-success').attr('href', href); // Actualiza el enlace en el botón del modal
        });
    });

    $(document).on('click', '#closeModalConfirmacion', function () {
        $('#modalConfirmacion').modal('hide');
    });

    $(document).on('click', '#closeModalCorte', function () {
        $('#modalCorte').modal('hide');
    });

    $(document).on('click', '#closeModalSalida', function () {
        $('#modalSalida').modal('hide');
    });
</script>

{% endblock %}