{%extends 'layout.html' %}

{%block content %}
{% from "_macros.html" import render_field %}

<div class="row">
    <div class="col-md-6">
        <h1 class="h3 mb-2 text-gray"><i class="fas fa-truck"></i> Proveedores</h1>
    </div>
</div>
<div class="card shadow mb-4" id="spacesTable">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold">Datos de proveedor</h6>
    </div>
    <div class="card-body">
        <form name="formProveedores" id="formProveedor" method="POST" novalidate action="/agregarProveedor">
            <div class="row mb-3">
                {{ render_field(formProveedor.id, class="form-control", placeholder="id") }}
                <div class="form-group col-md-4">
                    {{ formProveedor.nombre.label(class="form-label") }}
                    {{ render_field(formProveedor.nombre, class="form-control", placeholder="Nombre") }}
                </div>
                <div class="form-group col-md-4">
                    {{ formProveedor.direccion.label(class="form-label") }}
                    {{ render_field(formProveedor.direccion, class="form-control", placeholder="Dirección") }}
                </div>
                <div class="form-group col-md-4">
                    {{ formProveedor.telefono.label(class="form-label") }}
                    {{ render_field(formProveedor.telefono, class="form-control", placeholder="Telefono") }}
                </div>
                <div class="form-group col-md-4"></div>
                <div class="form-group col-md-4">
                    {{ formProveedor.nombre_vendedor.label(class="form-label") }}
                    {{ render_field(formProveedor.nombre_vendedor, class="form-control", placeholder="Nombre del Vendedor") }}
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-success mx-auto">Guardar</button>
            </div>
            <div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            </div>
        </form>
    </div>
</div>

<div class="card shadow mb-4" id="spacesTable">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold">Listado de proveedores</h6>
    </div>
    <div class="card-body">
        <div class="scrollable-table" style="overflow: auto; max-height: 400px;">
            <div class="row mb-3">
                <input type="text" id="searchInput" class="form-control mb-3" placeholder="Buscar...">
                <table id="proveedorTable" class="table table-striped">
                    <thead>
                        <tr class="text-center">
                            <th>Nombre</th>
                            <th>Dirección</th>
                            <th>Telefono</th>
                            <th>Nombre del Vendedor</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for proveedor in proveedores %}
                        <tr class="text-center">
                            <td>{{ proveedor['nombre'] }}</td>
                            <td>{{ proveedor['direccion'] }}</td>
                            <td>{{ proveedor['telefono'] }}</td>
                            <td>{{ proveedor['nombre_vendedor'] }}</td>
                            <td>
                            <form action="{{url_for('proveedores.seleccionar_proveedor')}}" method="post" class="d-inline">
                                <input type="hidden" name="id" value="{{proveedor.id}}" />
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <button type="submit" class="btn btn-warning">Editar</button>
                            </form>
                            <button id="eliminarProveedor" data-id="{{proveedor.id}}" class="btn btn-danger" data-toggle="modal" data-target="#modalConfirmacion">Eliminar</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<div class="modal fade"  id="modalConfirmacion" tabindex="-1" aria-labelledby="modalConfirmacion" aria-hidden="true" role="dialog">
    <div class="container mt-5 modal-dialog" role="document">
        <div class="row modal-content" style="display: contents;">
            <div class="col-md-12 offset-md-3 mx-0">
                <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center">Confirmar Borrado del Proveedor</h1>
                    <p class="card-text text-center">Estás a punto de eliminar el proveedor</p>
                    <div class="text-center">
                        <form action="{{ url_for('proveedores.eliminar_proveedor')}}" method="post" class="d-inline">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <input type="hidden" name="id" id="idEliminar">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                        <button type="button" id="closeModalConfirmacion" class="closeModalConfirmacion btn btn-success">
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const searchInput = document.getElementById('searchInput');
        const userTable = document.getElementById('proveedorTable');
        const rows = userTable.getElementsByTagName('tr');

        searchInput.addEventListener('input', function() {
        const searchText = this.value.toLowerCase();
        for (let i = 1; i < rows.length; i++) {
            const row = rows[i];
            const cells = row.getElementsByTagName('td');
            let found = false;
            for (let j = 0; j < cells.length; j++) {
            const cell = cells[j];
            if (cell.textContent.toLowerCase().indexOf(searchText) > -1) {
                found = true;
                break;
            }
        }
        if (found) {
            row.style.display = '';
        } else {
            row.style.display = 'none';
        }
        }
    });
    });

    // Adjunta el evento al botón que abre el modal, no al botón de cierre del modal
    $(document).on('click', '#eliminarProveedor', function() {
        var proveedorId = $(this).data('id');
        $('#idEliminar').val(proveedorId);
      $('#modalConfirmacion').modal('show');  // Muestra el modal
    });
    
    // Adjunta el evento al botón de cierre del modal
    $('#closeModalConfirmacion').click(function() {
        $('#modalConfirmacion').modal('hide');  // Oculta el modal
    });
</script>

{% endblock %}
